<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Slicket.com, <%= @user.username %></h1>
    <p>
      An bid has been placed related to your offer.<br>
      Click on the following link to view the bid </p>
      <a href='<%=@url_bid%>'> Bid</a>
      <p>
      To confirm this deal please follow this link    </p>
      <a href='<%=@url_confirm%>'> Confirm Deal</a>
    <p>
      To login to the site, just follow this link: .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>