<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Slicket.com</h1>
    <p>
      You have successfully bought this ticket,
      <br>
      PFA
    </p>
    <p>
      To login to the site.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>