<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Hi <%= "#{@user.first_name} #{@user.last_name}"%>, <br/> 
      We have found following offers for you  <a href='<%=@url_bid%>'> Bid</a>
    </p> <p> <%= @offer.id %>  </p>

  </body>
</html>