<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Hi <%= "#{@user.first_name} #{@user.last_name}"%>, <br/> 
      A bid <%= @bid.id%> has been found with your offer <%= @offer.id %>
    </p>

  </body>
</html>