= form_for :sim_transaction, :url => AuthorizeNet::SIM::Transaction::Gateway::TEST, :html => {:id => :authForm} do |f|
  = sim_fields(@transaction)
:javascript
  $(document).ready(function(){
    $('#authForm').submit();
  })