<%= link_to "Connect With Facebook", "/auth/facebook" %>
<%= link_to "Connect With Twitter", "/auth/twitter" %>
<a href="https://api.instagram.com/oauth/authorize/?client_id=341186a8f963477aa462a5e94b45b3db&redirect_uri=http://localhost:3000/auth/instagram_callback&response_type=code
"> Connect with Instagram</a>
